section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item {
    width: 50vw;
    margin: 0 0 10px 0;
    display: flex;
}

.item-search {
    border: 2px solid #009BCD;
}

input {
    padding-left: 12px;
    border: 0;
    outline: 0;
    background: 0 0;
    width: 100%;
    margin: 0;
    text-overflow: ellipsis;
    font-size: 100%;
    color: #000;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
}

.results {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /*align-items: ;*/
}

.spotify {
    background: url('../img/icons.svg') no-repeat -1500px -500px;
    width: 200px;
    height: 200px;
}

.youtube {
    background: url('../img/icons.svg') no-repeat -500px -750px;
    width: 200px;
    height: 200px;
}

.vk {
    background: url('../img/icons.svg') no-repeat -1500px 0;
    width: 200px;
    height: 200px;
}